@{
    Layout = "_Layout";
    ViewData["Title"] = "Welcome to ParsaLibrary";
}

<main class="main-content">
    <div class="container">
        <!-- begin::page header -->
        <div class="page-header">
            <h3>Welcome to ParsaLibrary</h3>
        </div>
        <!-- end::page header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Parsa Home Page</h5>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>